p{
    text-align: left;
}

p.summary {
    padding-bottom: 0rem;
}

p.project {
    text-align: left;
    padding-bottom: 1rem;
}

p.socialnet {
    font-weight : bold;
}

h3 {
    font-style : italic;
    font-weight : bold;
}

a.link    {
    color:deepskyblue;
    background-color:transparent;
    text-decoration:none;
}

p.subtitle {
    font-weight : bold;
    background-color:transparent;
    text-align:left;
    color:darkgray;
}