body{
  background-image: url("../pics/background.jpg");
  background-color: #000000;
  color: white;
  font-size: 20px;
  width: 1400px;
}

.container{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.tags{
  position: relative;
  text-align: center;
  color: #BBBBBB;
}

.name{
  padding-top: 30px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

.about{
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: justify;
  align: top;
  position: relative;
  height: 500px;
}

.profile{
  padding-left: 30px;
  float:left;
}

.project{
  padding-bottom: 5px;
  padding-left: 10px;
  color: #DDDDDD;
  text-align: justify;
}

.copyright{
  text-align: center;
  font-family: Courier New;
  padding-top: 10px;
  font-size: 15px;
}

.video{
  padding-left: 40px;
  padding-bottom: 10px;

}

.caption{
  width: 800px;
  font-size: 15px;
  color: #DDDDDD;
  text-align: justify;
}

.bio{
  font-size:18px;
  width: 750px;
  float: right;
  line-height: 130%;
  padding-top: 20px;
  font-family: Century Schoolbook;
  display: block;
}

.paper{
  position: relative;
  padding-left: 40px;
  color: #DDDDDD;
}

#nav{
  height: 40px;
  font-weight: normal;
  font-size: 18px;
  font: Tahoma;
}

#nav ul{
  padding:0px;
  margin: 0px;
  text-align: left;
  list-style-type: none;
}

#nav li{
  display: inline;
  padding: 7px;
  vertical-align: middle;
}

#nav li.menu{
  float: left;
}

#nav li.tag{
  float: right;
}

#nav a{
  text-decoration: none;
  color: white;
  vertical-align: middle;
  padding: 12px;
  border-radius: 5px;
}

#nav a:hover{
  background-color: rgba(200, 200, 200, 0.5);
  transition: all 0.3s ease 0s;
}

a:link{
  color: #ffff00;
}

a:visited{
  color: #ffff00;
}

img.logo {
    width:60px;
    height:60px;
    border-radius: 5px;
    opacity: 1.0;
    transition: 0.2s ease-in-out;
}

img.logo:hover{
  opacity: 0.6;
}
